/* This is the class used for the footer */
.footer {
    background: #111;
    white-space: pre;
    font-size: 80%;
    color:#FFF;
}

.footer a {
    color: #CCC;
}

.footer a:hover,
.footer a:focus {
    background: none;
    border: none;
    color: #FFF;
}

.footer .breakpoint {
    margin: 0 1em;
}

@media (max-width: 78em) {
    .footer {
        font-size: 70%;
    }
}

@media (max-width: 66em) {
    .footer {
        font-size: 60%;
    }
}

@media (max-width: 60em) {
    .footer .breakpoint {
        display: block;
        opacity: 0;
        height: 0;
    }
    .footer {
        font-size: 80%;
    }
}